h1 {
    text-align: center;
  }

  h2{
    text-align: center;
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 2% 0;
  }
  
  div.btn-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  
  div.img-btn {
    flex: 0 0 30%;
  }
  
  div.img-btn img {
    position: relative;
    width: 100%;
    height: 113px;
  }
  
  div#code-enter {
    position: absolute;
    bottom: 0;
  }

  body{
      background-color: black;
  }

  video{
      width: 95%;
      height: 95%;
  }

  div#video {
      text-align: center;
  }