h1 {
  text-align: center;
}

div.btn-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

div.img-btn {
  flex: 0 0 30%;
}

div.img-btn img {
  position: relative;
  width: 100%;
  height: 113px;
}

div#code-enter {
  position: absolute;
  bottom: 0;
}
